.index {
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: var(--global-padding-top) var(--global-padding-left);
  > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    > li {
      margin-bottom: 40px;
    }
  }
}
